/* Estilos para el plugin WeBanner */
body {
    background-color: #ffffff;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

.wbn-dashboard {
    margin: 20px;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wbn-dashboard h2 {
    color: #1e73be;
}
